---
layout: default
title: Activities
navigation: 40
---

{% for post in site.categories.activities %}
  {% if post.discontinued != true %}
    {% assign post_id = "current-activity-" | append: forloop.index0 %}
    <div id="{{ post_id }}" class="post">
      <div class="header" onclick="document.getElementById({{ post_id }}').classList.toggle('collapsed')">
        <span class="buttons">
          <span class="fa fa-angle-double-right button-collapse"></span>
          <span class="fa fa-angle-double-down button-expand"></span>
        </span>
        <span class="title">{{ post.title }}</span>
        <a class="link" href="{{ site.baseurl }}{{ post.url }}"><span class="fa fa-link"></span></a>
      </div>
      <div class="body">
        <div class="content">
          {{ post.content }}
        </div>
        {% include media-attachments.html %}
      </div>
    </div>
  {% endif %}
{% endfor %}

{% for post in site.categories.activities %}
  {% if post.discontinued == true %}
    {% assign post_id = "discontinued-activity-" | append: forloop.index0 %}
    <div id="{{ post_id }}" class="post collapsed">
      <div class="header" onclick="document.getElementById('{{ post_id }}').classList.toggle('collapsed')">
        <span class="buttons">
          <span class="fa fa-angle-double-right button-collapse"></span>
          <span class="fa fa-angle-double-down button-expand"></span>
        </span>
        <span class="discontinued">discontinued</span>
        <span class="title">{{ post.title }}</span>
        <a class="link" href="{{ site.baseurl }}{{ post.url }}"><span class="fa fa-link"></span></a>
      </div>
      <div class="body">
        <div class="content">
          {{ post.content }}
        </div>
        {% include media-attachments.html %}
      </div>
    </div>
  {% endif %}
{% endfor %}
