---
layout: default
title: News
navigation: 20
feed: /atom.xml
---

{% for post in site.categories.news %}
  <div id="post-{{ forloop.index0 }}" {% if forloop.index0 < 5 %} class="post" {% else %} class="post collapsed" {% endif %}>
    <div class="header" onclick="document.getElementById('post-{{ forloop.index0 }}').classList.toggle('collapsed')">
      <span class="buttons">
        <span class="fa fa-angle-double-right button-collapse"></span>
        <span class="fa fa-angle-double-down button-expand"></span>
      </span>
      <span class="date">{{ post.date | date_to_string }}</span>
      <span class="title">{{ post.title }}</span>
      <a class="link" href="{{ site.baseurl }}{{ post.url }}"><span class="fa fa-link"></span></a>
    </div>
    <div class="content">
      {{ post.content }}
    </div>
  </div>
{% endfor %}
