<ul>
  <li><a href="{{ site.baseurl }}/">About</a></li>
  <li>
    <a href="{{ site.baseurl }}/atom.xml"><span class="fa fa-rss-square"></span></a>
    <a href="{{ site.baseurl }}/news/">News</a>
  </li>
  <li><a href="{{ site.baseurl }}/members.html">Who are we?</a></li>
  <li><a href="{{ site.baseurl }}/talks.html">Talks</a></li>
  <li><a href="{{ site.baseurl }}/project-banana.html">Project baNaNa</a></li>
  <li><a href="{{ site.baseurl }}/social.html">Social events</a></li>
  <li><a href="{{ site.baseurl }}/contact.html">Join us!</a></li>
</ul>
