<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>SIAM Student Chapter Delft - {{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/pygment_trac.css">
    <link rel="alternate" type="application/atom+xml" title="SIAM Student Chapter Delft" href="{{ site.baseurl }}/atom.xml"/>
    <script src="{{ site.baseurl }}/javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>

    <header>
      <h1>SIAM Student Chapter Delft</h1>
      <p>Delft University of Technology</p>
    </header>

    <div id="banner">
      <span id="logo"></span>
      <a href="https://github.com/sscdelft/sscdelft.github.io" class="button fork"><strong>Fork On GitHub</strong></a>
    </div><!-- end banner -->

    <nav>
      {% include navigation.html %}
    </nav>
    <div class="wrapper">
      {{ content }}

      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></small></p>
      </footer>
    </div>

    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
<!-- vim: ts=2:sts=2:sw=2:et:tw=80
-->
